<p>This is <%= @user.name %>'s page.</p>

<ul>Upcoming events:
    <% @upcoming_events.each do |event| %>
        <li><%= link_to event.name, event %></li>
    <% end %>
</ul>

<ul>Past events:
    <% @past_events.each do |event| %>
        <li><%= link_to event.name, event %></li>
    <% end %>
</ul>