<% if !@event.private? || @invitation %>
    <p class="center">Take part?</p>
    <% if @event.attendees.include?(current_user) %>
        <%= render "leave" %>
    <% else %>
        <%= render "attend" %>
    <% end %>
<% end %>
<%= render "list", collection: @event.attendees, type: "attending" %>