<% collection.each do |event| %>
    <div class="event-tile">
        <h2><%= link_to event.name, event %></h2>
        <p><%= event.date.strftime("%B %d, %Y") %></p>
        <p><%= event.description %></p>
        <p>Created by: <%= link_to event.creator.name, event.creator %></p>
    </div>
    <hr>
<% end %>