<div class="centered">
    <h1>Upcoming Events</h1>
    <%= render "event", collection: @upcoming_events %>
</div>
<br>
<div class="centered">
    <h1>Past Events</h1>
    <%= render "event", collection: @past_events %>
</div>
<br>
