<div class="centered">
    <%= render "info" %>

    <div class="row space-around">
        <div class="att-inv">
            <%= render "attendances" %>
        </div>
        <% if @event.private? %>
            <div class="att-inv">
                <%= render "invitations" %>
            </div>
        <% end %>
    </div>
</div>
<br>