/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.flex-end {
    align-items: flex-end;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: purple;
}

.navbar p {
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 5px;
}

.navbar a:hover {
    border-color: white;
}

.event-form {
    float: left;
    position: fixed;
    top: 100px;
    left: 50px;
}

.centered {
    width: 400px;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    width: 300px;
}

form .input {
    margin: 5px 0;
}

form .submit-btn {
    margin: 15px 0;
}

.field_with_errors {
    display: inline;
}

.field_with_errors label{
    color: red;
}

li {
    margin: 30px 0;
}

.flash {
    border-radius: 5px;
    width: 300px;
    line-height: 30px;
    margin: 20px auto;
    text-align: center;
}

.error {
    border: 1px solid red;
    color: red;
}

.success {
    border: 1px solid green;
    color: green;
}